.content-view{
    -fx-pref-width: 1080px;
    -fx-pref-height: 740px;
}

.content-view-header{
    -fx-padding: 20px;
}

.content-view-header > .title{
    -fx-font-size: 20px;
    -fx-padding: 0 0 0 20;
    -fx-text-fill: rgba(255, 255, 255, 0.99);
}

.search-bar{
    -fx-padding: 0 0 0 40;
    -fx-spacing: 10;
}

.table-wrapper{
    -fx-padding: 30 40 40 40;
}

.bottom-wrapper{
    -fx-spacing: 30px;
    -fx-padding: 0 0 0 40;
}

.bottom-tf{
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;
}

.edit-pen-wrapper{
    -fx-padding: 0 40 0 0;
}

.pen-vbox:hover SVGPath{
    -fx-background-color: primary-light;
    -fx-text-fill: primary;
    -fx-fill: primary;
}